@import url('https://fonts.cdnfonts.com/css/google-sans');

.modia-webpage{
  font-family: 'Product Sans', sans-serif;
}

#moodPaletteParent,#moodPaletteDiv,#loginDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #00c524;
  gap: 5rem;
}

#moodPaletteDiv{
  cursor: url('cursor.svg') 8 -8, url('cursor.png') 8 -8, auto; 
}
img {
  height: 20vh;
}
#loginDiv button {
  padding: 1rem 5rem;
  border-radius: 5rem;
  background-color: black;
  color: #a0a0a0;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

#backnext {

  padding: 0.5rem 1.5rem;
  font-size : 1.2em; 
  border-radius: 5rem; 
  margin-top : 10px; 
  z-index:2;
}
label{
  display: inline-block;
  width: 200px;
  padding: 10px;
  border-radius : 3vw;
  transition: all 0.4s;
  color : white;
  text-align: center;
  font-size : 1.2vw;
}

input[type="radio"]:checked + label {
  background-color:#00C524;
  color : black;
}


